

/* Body and some General Stuff */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  background: #ffffff;
  color: #1e1e27;
}
div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin-bottom: 0px;
}
p {
  font-family: "Futura", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  color: #989898;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #474747;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
p {
}
p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 2px #fde0db;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
img{
  object-fit: cover;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
.super-container {
  overflow: hidden;
}
/* Navigation Section */
/* top Navigation */
.top_section {
  background-color: #4b4b4b;
}
.top_section p {
  color: #fff;
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}
.currency {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header {
  background: #ffffff;
}

.header__top {
  background: #929292;
  padding: 10px 0;
}

.header__top__left p {
  color: #ffffff;
  margin-bottom: 0;
}

.header__top__right {
  text-align: right;
}

.header__top__links {
  display: inline-block;
  margin-right: 25px;
}

.header__top__links a {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 28px;
  display: inline-block;
}

.header__top__links a:last-child {
  margin-right: 0;
}

.header__top__hover {
  display: inline-block;
  position: relative;
}

.header__top__hover:hover ul {
  top: 24px;
  opacity: 1;
  visibility: visible;
}

.header__top__hover span {
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}

.header__top__hover span i {
  font-size: 20px;
  position: relative;
  top: 3px;
  right: 2px;
}

.header__top__hover ul {
  background: #ffffff;
  display: inline-block;
  padding: 2px 0;
  position: absolute;
  left: 0;
  top: 44px;

  opacity: 0;
  visibility: hidden;
  z-index: 3;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header__top__hover ul li {
  list-style: none;
  font-size: 13px;
  color: #111111;
  padding: 2px 15px;
  cursor: pointer;
}
/* Bottom Navigation */

.header__logo a {
  display: inline-block;
}
.header_nav {
  display: flex;
  justify-content: center;
}
.nav__primary {
  padding: 16px 0;
  position: relative;
  display: inline-block;

  font-size: 16px;
}
.navbar_bottom{
  background: #f3f3f3;
  
 
}

#menuElem {
  display: flex;
}
#menuElem > li > a {
  display: inline-flex;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #474747;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 1em;
}

#menuElem > li:hover > .pane {
  display: block;
}
.pane {
  display: none;
  position: absolute;
  top: 72px;
 width: 98%;
  padding: 3em 2em;
  box-sizing: border-box;
  background-color: #f3f3f3;

  z-index: 9999;
}



.pane-heading {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #494949;
  font-weight: 600;
}
.pane-column ul li{
  margin-top: 6px;
}
.pane-link {
  font-size: 15px;
  color: #545353;
}
.pane-image-column{
  width: 100%;
  height: 40vh;

}
.pane-image-column img{
  width: 100%;
  height: 100%;
}




#women-pane .pane-column{
  display: flex;
  
}
#women-pane .pane-column .list-items{
  padding-right: 80px;
}


.our-world-image{
  width: 100%;
  height: 40vh;
}
.our-world-content{
  background-color: #dfdcdc;
}
.lookbook-content{
  background-color: #e7e5e5;
}
.lookbook-images{
  height: 400px;
}


.nav-icons {
  padding: 20px 0;
}
.nav-icons i {
  padding-left: 18px;
  color: #545353;
}
/* Search Switch */
.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 100%;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}
.search-model-form input:focus{
  outline: none;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}


.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}
/* Navigation End */
/* Hero Section Start */
.hero-menu{
  width: 100%;
  height: 800px;
}

.hero-menu .content{
  position: absolute;
  top: 32px;
  left: 68px;
}
.hero-container {
  padding-top: 100px;
}

.hero__text h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;

  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.hero__text h2 {
  color: #2d2c2c;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;

  -webkit-transition: all, 0.6s;
  -o-transition: all, 0.6s;
  transition: all, 0.6s;
}

.hero__text p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;

  -webkit-transition: all, 0.9s;
  -o-transition: all, 0.9s;
  transition: all, 0.9s;
}
/* Hero Section End */
/* Product Section Started */
.product {
  padding-top: 0;
  padding-bottom: 20px;
}

.men-cart {
  width: 100%;
  height: 773px;
  cursor: pointer;
  position: relative;
}
.men-cart .images {
  width: 100%;
  height: 100%;
}
.men-cart .content {
  position: absolute;
  top: 32px;
  right: 100px;
}

.women-cart {
  width: 100%;
  height: 773px;
  cursor: pointer;
  position: relative;
}
.women-cart .images {
  width: 100%;
  height: 100%;
}

.women-cart .content {
  position: absolute;
  top: 30px;
  right: 32px;
}
.product__item {
  overflow: hidden;
}

.product__item.sale .product__item__pic .label {
  color: #ffffff;
  background: #111111;
}

.product__item:hover .product__item__text a {
  top: 22px;
  opacity: 1;
  visibility: visible;
}

.product__item:hover .product__item__text h6 {
  opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
  opacity: 1;
}

.product__item__pic {
  width: 100%;
  height: 450px;
  position: relative;
  background-position: center center;
}

.product__item__pic .label {
  color: #111111;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 15px 2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 20px;
}

.product__item__pic .product__hover {
  position: absolute;
  right: -200px;
  top: 20px;
  -webkit-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  transition: all, 0.8s;
}

.product__item__pic .product__hover li {
  list-style: none;
  margin-bottom: 10px;
  position: relative;
}

.product__item__pic .product__hover li:hover span {
  opacity: 1;
  visibility: visible;
}

.product__item__pic .product__hover li span {
  color: #ffffff;
  background: #111111;
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  position: absolute;
  left: -78px;
  top: 5px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
  position: absolute;
  right: -2px;
  top: 5px;
  height: 15px;
  width: 15px;
  background: #111111;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.product__item__pic .product__hover li img {
  background: #ffffff;
  padding: 10px;
  display: inline-block;
}

.product__item__text {
  padding-top: 25px;
  position: relative;
}

.product__item__text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.product__item__text h6 {
  color: #515151;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.product__item__text h5 {
  color: #3a3a3a;
  font-weight: 700;
}









.product__item__text .product__color__select label input {
  position: absolute;
  visibility: hidden;
}
/* Product Section End */
/* Catagories Section Start */
.catagories .women-catagories {
  width: 100%;
  height: 1000px;
}
.catagories .men-catagories {
  width: 100%;
  height: 400px;
  position: relative;
  cursor: pointer;
}
.catagories-items {
  position: relative;
  cursor: pointer;
}
.catagories-items .content {
  position: absolute;
  width: 100%;

  top: 0;
  padding-top: 10px;
  transform: scaleY(0);
  background-color: #777777;
  transition: 350ms ease;
}
.catagories .content h3 {
  color: #ffffff;
}
.catagories-items:hover .content {
  transform: scaleY(1);
}

.catagories .accessories-catagories {
  width: 100%;
  height: 300px;
}
.catagories .home-catagories {
  width: 100%;
  height: 282px;
}
/* catagories section End */
/* Signature Collection Section Start */
.signature-collection-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.signature-collection-banner img{
  width: 100%;
  height: 100%;
}
.signature-collection-text {
  margin-top: 85px;
}
.signature-banner-container{
  position: absolute;
  top: 0;
  left: 0;
}
.signature-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.signature-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.signature-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.signature-collection-product .signature-link {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 25px;
  font-weight: 500;
  color: #686767;
  transition: 350ms all ease;
}
.signature-collection-product .signature-link:hover {
  text-decoration: underline;
}
.signature-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.signature-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Signature Collection End */
/* Classic collection section started */
.classic-collection-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.classic-collection-banner img{
  width: 100%;
  height: 100%;
}
.classic-banner-container{
  position: absolute;
  top: 0;
  left: 0;

}
.classic-collection-text {
  margin-top: 85px;
}
.classic-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.classic-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.classic-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.classic-collection-product .classic-link {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 40px;
  font-weight: 500;
  color: #686767;
  transition: 350ms all ease;
}
.classic-collection-product .classic-link:hover {
  text-decoration: underline;
}
.classic-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.classsic-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Classic Collection End */
/* Deal of the week Started */
.deal_ofthe_week {
  width: 100%;

  background: #f2f2f2;
}
.deal_ofthe_week_img {
  height: 40em;
}
.deal_ofthe_week_img img {
  height: 100%;
  width: 100%;
}
.deal_ofthe_week_content {
  height: 100%;
}
.section_title {
  display: inline-block;
  text-align: center;
}
.section_title h2 {
  display: inline-block;
}

.timer {
  margin-top: 5em;
}
.timer li {
  display: inline-block;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 10px;
}
.timer li:last-child {
  margin-right: 0px;
}
.timer_num {
  font-size: 3em;
  font-weight: 600;
  color: #fe4c50;
  margin-top: 2rem;
}
.timer_unit {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #51545f;
}

/* Deal of week End */
/* Accessories Collection Started */
.accessories-collection-banner {
 
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
 
}
.accessories-collection-banner img{
  width: 100%;
  height: 100%;
}
.accessories-banner-container {
  position: absolute;
  top: 0;
  left: 0;

}
.accessories-collection-text {
  margin-top: 85px;
}
.accessories-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.accessories-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.accessories-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.accessories-collection-product .accessories-link {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 25px;
  font-weight: 500;
  color: #686767;
  transition: 350ms all ease;
}
.accessories-collection-product .accessories-link:hover {
  text-decoration: underline;
}
.accessories-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.accessories-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Accessories Collection End */

/* Men Collection Started */
.men-collection-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.men-collection-banner img{
  width: 100%;
  height: 100%;
}
.men-banner-container {
  position: absolute;
  top: 0;
  left: 0;
}
.men-collection-text {
  margin-top: 85px;
}
.men-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.men-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.men-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.men-collection-product .men-link {
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 60px;
  font-weight: 500;
  color: #686767;
  transition: 350ms all ease;
}
.men-collection-product .men-link:hover {
  text-decoration: underline;
}
.men-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.men-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Men Collection End */
/* Women Collection started */
.women-collection-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.women-collection-banner img{
  width: 100%;
  height: 100%;
}
.women-banner-container{
  position: absolute;
  top: 0;
  left: 0;
}
.women-collection-text {
  margin-top: 85px;
}
.women-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.women-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.women-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.women-collection-product .women-link {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 25px;
  font-weight: 500;
  color: #686767;
  transition: 350ms all ease;
}
.women-collection-product .women-link:hover {
  text-decoration: underline;
}
.women-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.women-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Women Collection End */
/* Superfine Collection Started */
.superfine-collection-banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.superfine-collection-banner img{
  width: 100%;
  height: 100%;
}
.superfine-banner-container{
  position: absolute;
  top: 0;
  left: 0;
}
.superfine-collection-text {
  margin-top: 85px;
}
.superfine-collection-banner h6 {
  color: #e53637;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 28px;
}

.superfine-collection-banner h2 {
  color: #111111;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 30px;
}

.superfine-collection-banner p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 35px;
}
.superfine-collection-product .superfine-link {
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 25px;
  color: #686767;
  transition: 350ms all ease;
}
.superfine-collection-product .superfine-link:hover {
  text-decoration: underline;
}
.superfine-collection-product .product__item__pic {
  width: 100%;
  height: 600px;
  position: relative;
  background-position: center center;
}
.superfine-collection-product .product_item_text a {
  font-size: 15px;
  color: #e53637;
  font-weight: 700;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
/* Superfine Collection End */

/* Detail Section Started */

.detail-images .image {
  width: 100%;
  height: 400px;
}


.detail-banner{
  width:100%;
  height: 70vh;
  
}
.detail-content{
  width: 100%;
  position: absolute;
  top: 177px;
  
}
.detail-content h3{
  color: #ffffff !important;
}
.detail-content h2{
  color: #ffffff !important;
}
/* Detail Section End */

/* Contact Section Start */
.form {
  width: 100%;
}
.form input {
  width: 50%;
  padding: 20px 30px;
}
/* contact Section End */
/* Footer Section Start */
.footer {
  background-color: #474747;
}
.footer-list ul li {
  margin-top: 10px;
  list-style: none;
}
.footer-list li a {
  text-decoration: none;
  color: #dedddd;
}
.footer h4 {
  color: #e0dede;
}

.footer .last-footer h6 {
  text-decoration: none;
  color: #e0dede;
}
.help-center a {
  width: 100%;
  padding: 1em 1em;
  background-color: #777777;
  color: #ffffff;
  font-size: 18px;
}
.footer-p {
  font-size: 15px;
  color: #dedddd;
}
/* Footer Section End */

/* Utility Classes */
.primary-btn {
  padding: .75em;
  background: #626262;
  text-transform: capitalize;

  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 2em;
  display: inline-block;
  line-height: 1;
  -moz-user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  border-radius: 4px;
}

.primary-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #7d7d7d;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}
.primary-btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

.primary-btn:hover {
  color: rgb(233, 232, 232);
}

.primary-btn i {
  color: #fff;
  font-size: 19px;
  margin-left: 5px;
  transition: 350ms ease;
}
.primary-btn:hover i {
  color: rgb(233, 232, 232);
}
.secondary-btn {
  padding: 25px 34px;
  background: #3a3a3a;
  text-transform: capitalize;

  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  line-height: 1;

  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  border-radius: 4px;
}
.secondary-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #545353;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}
.secondary-btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}

.secondary-btn:hover {
  color: rgb(233, 232, 232);
}

.secondary-btn i {
  color: #fff;
  font-size: 19px;
  margin-left: 5px;
  transition: 350ms ease;
}
.secondary-btn:hover i {
  color: rgb(233, 232, 232);
}
.section-heading {
  font-weight: 600;
  font-size: 35px;
  
}
.submit-btn {
  padding: 20px 30px;
  background: #111111;
  color: #fff;
  font-size: 20px;
}
.sticky {
  position:fixed;
  top:0;
  box-shadow: 0 3px 3px rgba(0,0,0,0.22);
  z-index: 9999;
}
.banner img{
  object-fit: fill;
}
.column-content .heading{
  font-size: 20px;
  font-weight: 500;
}

/* **************************************************Responsive Media Query***************************************************************** */
@media only screen and (max-width: 1433px){
  #women-pane .pane-column .list-items{
    padding-right: 59px;
  }
}

@media only screen and (max-width: 1279px){
  #women-pane .pane-column .list-items{
    padding-right: 35px;
  }
}
@media only screen and (max-width: 1091px){
  #women-pane .pane-column .list-items{
    padding-right: 20px;
  }
}
@media only screen and (max-width: 1183px) {
  
  
  #menuElem > li > a {
    font-size: 12px;
    padding: 10px 14px;
  }
 
  .nav-icons i {
    font-size: 20px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-menu{
    
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/Hero/hero1.jpg);
    background-size: cover;

  }
  .hero__text h2{
    color: #ffffff;
   
  }
  .hero__text p{
    color: #ffffff;

  }
  .hero-menu img{
    display: none;
  }
  
  .navbar_bottom{
    z-index: 9999;
  }

  .signature-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/signature-collection/signature-banner1.jpg);
      }
      .signature-collection-banner h2{
       color: #ffffff;
      }
      .signature-collection-banner p{
        color: #ffffff;
      }
  
  .signature-collection-banner img{
    display: none;
  }
  .classic-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/classic-collection/classic-banner1.jpg);
  }
  .classic-collection-banner img{
    display: none;
  }
  .classic-collection-banner h2{
    color: #ffffff;
  }
  .classic-collection-banner p{
    color: #ffffff;
  }

  .accessories-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/accessories-collection/accessories-banner1.jpg);
  }
  .accessories-collection-banner img{
    display: none;
  }
  .accessories-collection-banner h2{
    color: #ffffff;
  }
  .accessories-collection-banner p{
    color: #ffffff;
  }

  .men-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/men-collection/men-banner1.jpg);
  }
  .men-collection-banner img{
    display: none;
  }
  .men-collection-banner h2{
    color: #ffffff;
  }
  .men-collection-banner p{
    color: #ffffff;
  }

  .women-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/women-collection/women-banner1.jpg);
  }
  .women-collection-banner img{
    display: none;
  }
  .women-collection-banner h2{
    color: #ffffff;
  }
  .women-collection-banner p{
    color: #ffffff;
  }

  .superfine-collection-banner{
    background-size: cover;
    background-image:linear-gradient(rgb(80 79 79 / 60%),rgb(66 66 66 / 60%)), url(../../images/superfine-collection/superfine-banner1.jpg);
  }
  .superfine-collection-banner img{
    display: none;
  }
  .superfine-collection-banner h2{
    color: #ffffff;
  }
  .superfine-collection-banner p{
    color: #ffffff;
  }


  .canvas__open {
    display: block;
    font-size: 22px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
  }
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .offcanvas-menu-wrapper {
    position: fixed;

    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 180px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }
  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }
  .offcanvas-close-switch{
    position: absolute;
    width: 62px;
    height: 62px;
    background: #333;
    color: #fff;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 109px;
    right: -20px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  

  }
  .offcanvas__menu {
    display: none;
  }
  .offcanvas__option {
    text-align: center;
    margin-bottom: 30px;
  }
  .offcanvas__nav__icons{
    padding-bottom: 3em;
    padding-top: 2em;
  }
  .offcanvas__nav__icons i{
    
      padding-right: 32px;
      color: #545353;
    
    
  }
  .offcanvas__links {
    display: inline-block;
    margin-right: 11px;
  }
  .offcanvas__links a {
    color: #111111;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 11px;
    display: inline-block;
    font-weight: 600;
  }
  .offcanvas__links a:last-child {
    margin-right: 0;
  }
  .offcanvas__top__hover {
    display: inline-block;
    position: relative;
  }
  .offcanvas__top__hover:hover ul {
    top: 24px;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas__top__hover span {
    color: #111111;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
  }
  .offcanvas__top__hover span i {
    font-size: 20px;
    position: relative;
    top: 3px;
    right: 2px;
  }
  .offcanvas-search-close-switch{
    position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 151px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

  }
  .offcanvas__top__hover ul {
    background: #111111;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 44px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .offcanvas-submenu{
    padding-top: 21px;
    display: none;
    background: #f3f3f3;
    padding-left: 21px;
  }
  
  .offcanvas-submenu li{

    
   margin-bottom: 18px !important;
  }
  .offcanvas-submenu li a{
    font-size: 20px !important;
  }
  .offcanvas-submenu-menu{
    display: none;
    padding-left: 10px;
    padding-top: 11px;
    
  }
  .offcanvas-submenu-menu li a{
    font-size: 18px !important;
  }
  .offcanvas__top__hover ul li {
    list-style: none;
    font-size: 13px;
    color: #ffffff;
    padding: 2px 15px;
    cursor: pointer;
  }
  .offcanvas_header_menu{
    margin-top: 4em;
  }
  .offcanvas_header_menu li {
    margin-bottom: 2.5em;
  }
  .offcanvas_header_menu li a {
    font-size: 22px;
    color: #4a4a4a;
    font-weight: 600;
  }
  .offcanvas_header_menu li a i{
    margin-left: 15px;
    transition:transform 350ms;
  }
  .arrow-rotate{
    transform: rotateZ(90deg);
  }
  .active{
    display: block;
  }
  .offcanvas__text p {
    color: #111111;
    margin-bottom: 0;
  }
  .header__top {
    display: none;
  }
  .header .container {
    position: relative;
  }
  .top_section {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  .nav__primary {
    display: none;
  }
  .women-cart .content {
   right: 6px;
  }
}
@media only screen and (max-width: 768px){
  .women-cart .content{
    top: 11px;
    right: 32px;
  }
  .women-cart{
    height:749px ;
  }
  .men-cart{
    height: 749px;
  }
}

@media only screen and (max-width: 730px) {
  .hero__text{
    position: absolute;
    top: 0;
    left: -27px;
  }
 .classic-banner-container{
   position: absolute;
   top: 0;
   left: -16px;

 }
 .catagories .women-catagories {
  width: 100%;
  height: 593px;
}
 .signature-banner-container{
  position: absolute;
  top: 0;
  left: -16px;

}
.men-banner-container{
  position: absolute;
  top: 0;
  left: -16px;

}
.women-banner-container{
  position: absolute;
  top: 0;
  left: -16px;

}
.accessories-banner-container{
  position: absolute;
  top: 0;
  left: -16px;

}
.superfine-banner-container{
  position: absolute;
  top: 0;
  left: -16px;

}
 
  .classic-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
  .signature-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
  .men-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
  .women-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
  .accessories-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
  .superfine-collection-text {
    padding-left: 5px !important;
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  .accessories-link-container {
    display: none;
  }
  .superfine-link-container {
    display: none;
  }
  .men-link-container {
    display: none;
  }
  .women-link-container {
    display: none;
  }
  .classic-link-container {
    display: none;
  }
  .signature-link-container {
    display: none;
  }
  .product__item__pic{
    height: 93vh !important;
  }
}
@media only screen and (max-width: 461px) {
  .offcanvas-close-switch{
    position: absolute;
    width: 40px;
    height: 40px;
    background: #333;
    color: #fff;
    
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 140px;
    left: 118px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  

  }

}
@media only screen and (max-width: 414px) {
  .timer {
    margin-top: 20px;
  }
  .timer li {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 10px;
  }
  .timer_num {
    font-size: 1.5em;
    font-weight: 600;
    color: #fe4c50;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 313px) {
  .contact {
    display: none;
  }
  .hero__text{
    left: -47px;
  }
  .classic-banner-container{
    position: absolute;
    top: 0;
    left: -65px;
 
  }
  .signature-banner-container{
   position: absolute;
   top: 0;
   left: -65px;
 
 }
 .men-banner-container{
   position: absolute;
   top: 0;
   left: -65px;
 
 }
 .women-banner-container{
   position: absolute;
   top: 0;
   left: -65px;
 
 }
 .accessories-banner-container{
   position: absolute;
   top: 0;
   left: -65px;
 
 }
 .superfine-banner-container{
   position: absolute;
   top: 0;
   left: -65px;
 
 }
  .classic-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .signature-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .men-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .women-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .accessories-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .superfine-banner-container {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}
